body {
    margin: 0;
    
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Background styles */
    background-image: url(../images/jeanine-smith-hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-projects {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Background styles */
    background-image: url(../images/jeanine-smith-projects.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    /* Text styles */
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    color:white;
    text-shadow:
    -6px 3px 0 rgb(0, 0, 0),  
     1px -1px 0 rgb(0, 0, 0),
     -1px 1px 0 rgb(0, 0, 0),
      1px 1px 0 rgb(0, 0, 0);
    
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2 {
    /* Text styles */
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color:rgb(0, 0, 0);
}

p{
    text-align: center;
}

.caption {
    padding: 10px;
}